.venv
__pycache__
local.py
package-lock.json
.idea
fabric.yml
*.log
/django_cache/
db.sqlite3
uploads


templates/docxRPD/~*.docx
templates/outputs
/venv/
/test.py
/surp_predeploy_20250723_144414.sql
