django==5.0.6
djangorestframework==3.15.2
django-loginas==0.3.11
requests==2.32.3
#psycopg2==2.9.9
lxml==5.2.2
pendulum==3.0.0
mssql-django==1.4
docxtpl==0.18.0
mssql-django==1.4
fabric
sqlalchemy==2.0.39
#pywin32 # on windows user
django-redis==5.2
django-constance==3.1.0
